@charset "UTF-08";

@media screen and (max-width: 600px) {
    section {
        display: flex;
        flex-direction: column;

        height: 61.1rem;
        width: 34.3rem;
    }

    section > div#imag {
        background: white url('../assets/images/image-product-mobile.jpg') no-repeat center center;
        background-size: contain;

        width: 34.3rem;
        height: 24rem;


        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
    }

    div#text {
        padding-left: 2.7rem;
        padding-top: 2.7rem;   
    }

    div#text > p#tittle {
        margin-bottom: 1.9rem;
    }

    div#text > h1 {
        width: 100%;

        margin-bottom: 2.5rem;
    }
    
    div#text > p#textt {
        margin-bottom: 3.1rem;

        width: 27rem;
    }

    div#text > p#price {
        margin-bottom: 2.1rem;
    }

    div#text > button {
        height: 4.8rem;
        width: 29.5rem;
    }

    .attribution {
        bottom: 0.1rem;
    }
}