@charset "UTF-08";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #F3EAE3;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    background-color: white;    
    display: flex;

    width: 54.2rem;
    height: 40.6rem;

    border-radius: 1rem;

    /* transition: width .3s, height .6s; */
}


section > div#imag {
    background: black url('../assets/images/image-product-desktop.jpg') center center;
    background-size: cover;

    width: 27.1rem;
    height: 40.6rem;

    border-top-left-radius: 1rem; 
    border-bottom-left-radius: 1rem;
}

div#text {
    padding-left: 2.9rem;
    padding-top: 3.2rem;

}

div#text > p#tittle {

    font-family: 'Montserrat', sans-serif;
    color: #9D9DA4;
    margin-bottom: 2rem;

    font-size: 1.2rem;
}

div#text >  h1 {
    color: #181F25;

    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    line-height: 3.1rem;

    margin-bottom: 2rem;
}

div#text > p#textt {
    font-family: 'Montserrat', sans-serif;
    color: #9D9DA4;

    font-size: 1.3rem;

    margin-bottom: 2rem;
}

div#text > p#price {
    color: #3D8269;
    font-family: 'Fraunces', serif;

    font-size: 2.9rem;

    position: relative;

    margin-bottom: 2.4rem;
}

div#text > p#price del {
    position: absolute;
    transform: translatey(1.1rem);

    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: #9D9DA4;

    margin-left: 2rem;
}

div#text > button {
    height: 4.8rem;
    width: 21.3rem;
    padding: 1.5rem;

    cursor: pointer;
    border: none;

    background-color: #3D8269;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: normal;

    border-radius: 1rem;   
}

div#text > button img {
    width: 1.6rem;
    height: 1.6rem;

    transform: translateY(0.3rem);

    margin-right: 0.5rem;
}

div#text > button:hover {
    background-color: #163b2e;
}

.attribution { 
    position: fixed;
    bottom: 0.7rem;
    font-size: 1.3rem;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}